/* H3 */
%hot-sale{
    color: nth($colores, 9);
    background-color: nth($colores, 7);
    margin: 15px auto;
    
}

%bg-image{
    background-image: url(../img/fondeo.jpg);
    background-attachment: scroll ;  
    background-size: cover;
}

%image-size{
    width: nth($tamaños, 1);
    height: nth($tamaños, 1);
    transition: all 500ms ease-in-out
}

%banner{
    width: 100%;
    margin: 10px auto;
    cursor: pointer;
}

%siguenos{
    background-color: nth($colores, 4);
    bottom: 0;
    right: 0;
    border-radius: 5px;
    color: nth($colores, 6);
    cursor: pointer; 
    position: fixed;
    z-index: 200;
}

%redes{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around;   
}

%icono-2{
    margin: 10px 55px;
    padding: 25px;
    border-radius: 150px;
    height: nth($tamaños, 14);
    width: nth($tamaños, 3);
    @media (max-width: 576px){
        margin: 10px 55px;
        padding: 25px;
        border-radius: 150px;
        height: nth($tamaños , 14) /1.3;
        width: nth($tamaños, 3) /1.3;
    }
}

%icono{
    margin: 0 30px;
    padding: 20px;
    transition: all 2s;
    cursor: pointer;
    width: nth($tamaños , 13);
    height: nth($tamaños , 13);
    @media (max-width: 576px){
        margin: 0 30px;
        padding: 20px;
        transition: all 2s;
        cursor: pointer;
        width: nth($tamaños , 13) /1.7;
        height: nth($tamaños , 13) /1.7;
    }
    &:hover{
        transform: translate(10px,10px);
    }
}
